body {
	margin:0;
	
}

#main {
	width:800px;
	margin:100px auto 0 auto;
	font-family:arial,helvetica,sans-serif;
}

#map_main {
	width:auto;
	margin:0 auto 0 auto;
	font-family:arial,helvetica,sans-serif;
}

/* Sidebar */

#infoid {
	border-right:1px solid gray;
	background:white;
	width:350px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	padding: 0;
	overflow-y: scroll;
    overflow-x: hidden;
	box-shadow: 5px 5px 5px #888888;
}

#infoid #inner_info {
	padding:0 30px;
}

#infoid::-webkit-scrollbar {
    width: 6px;
}
 
#infoid::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
}
 
#infoid::-webkit-scrollbar-thumb {
	background:gray;
    -webkit-box-shadow: inset 0 0 6px gray; 
}

#infoid p.names {
    margin: 0;
    position: relative;
    top: -23px;
}

/* Map */

#mapid { 
height: 100%;
 width:100%;
z-index:1;

 }
 
.number-icon
{
    background-image: url("/cartographer/images/marker-icon-number.png");
    text-align:center;
    color:White;    
	padding-top:5px;
}

/* Navigation */

ul#nav {
    font-family: arial,helvetica,sans-serif;
    background: white;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 30px;
    padding: 15px;
    margin: 0;
    border-radius: 0 0 15px 15px;
    border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	box-shadow: 5px 5px 5px #888888;
}
	

ul#nav li {
	list-style-type:none;
	display:inline-block;
	margin-right:30px;
}

ul#nav li a {
	color:black;
	text-decoration:none;
	font-weight:bold;
	font-size:120%;
}
ul#nav li a:hover {
	color:#3f3f3f;
}

form fieldset {
	border: 2px solid black;
	margin:30px 0;
	padding:0 0 30px 0;
}


form label, p.label {
	font-weight:bold;
}


form label, form input, form textarea, form select {
	margin: 0 30px;
	
}

form input, form textarea, form select {
	border: 1px solid black;
	width:50%;
	padding:10px;
	font-size:120%;
}

form input[type=submit] {
	margin:0;
}

form input[type=submit]:hover {
	background:#acacac;
}

div#form_errors {
	border: 2px solid red;
    padding: 0 30px;
	font-weight:bold;
}
div#form_errors h3 {
	color:red;
}

p.map_label {
	margin:30px 30px 15px 30px;
}

/* Map */

#infoid h2 {
	margin-bottom: 30px;
}

#infoid h2 span.editplace {
	font-size:50%;
	display:block;
}

#infoid .fa {
	letter-spacing:15px;
}

#infoid h3 {
	font-decoration:none;
	text-transform: capitalize;
	margin:0;
}

#infoid h3 a {
    color: black;
    display: inline-block;
    width: 247px;
    margin-bottom: 10px;
    vertical-align: top;
}

#infoid p {
	margin: 0 0 10px 35px;
}

div.coop_info {
	margin-bottom:30px;
}

/* Icon selector */

i.selected {
	color:green;
}

div#icon_selector {
	margin: 30px;
}

div#icon_selector i {
	letter-spacing: 30px;
	margin-bottom:10px;
}

